#!/usr/bin/env xdg-open
# In .local/share/applications
[Desktop Entry]
Encoding=UTF-8
Name=RubyMine
Type=Application
Icon=~/Programs/RubyMine-latest/bin/RMlogo.svg
Exec=~/Programs/RubyMine-latest/bin/rubymine.sh %F
Terminal=false
Categories=Development;IDE

